body {
  background-color: lightblue;
}
header {
  grid-column: span 12;
}
main {
  grid-column: span 10;
}
nav {
  grid-column: span 2;
}

footer {
  grid-column: span 12;
  padding-top: 20px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
}

footer a {
  color: black;
}

footer a:hover {
  color: rgb(255, 255, 255);
}

nav ul {
  list-style-type: none;
  margin: 0;
padding: 0;

} 

nav li {
  display: inline-block;
  padding: 0;
  margin: 0px;
  width: 200px;
  height: 85px;
  color: #ffffff; 
}

nav li a {
  color:  rgb(0, 0, 0);
  display: block;
  height: 40px;
  border: 1px solid black;
  padding-top: 20px;
  background-color: #0066ff;
  text-align: center;
  font-family: "neuropol-x-light", sans-serif;
  font-weight: 525;
  font-style: normal;
  text-decoration: none;
  background-image: linear-gradient(to bottom, rgb(255, 255, 255), rgb(15, 187, 255));
  border-radius: 20px;
  box-shadow: 5px 5px 5px rgb(15, 187, 255);
}

nav a:hover {
  background-color: #00ff00;
  width: 200px;
  color: black;
}  


#wrapper {
  margin: 24px auto;
  width: 1200px;
  border: 1px solid black;
  padding: 24px;
  background-color: gray;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 24px;
}


div {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
  padding-right: 150px;
  padding-top: 150px;
}
