
#wrapper {
  margin: 1em auto;
  padding: 0;
  width: 960px;
  border: 5px solid rgb(0, 40, 173);
  background-color: #ffffff;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  word-wrap: break-word;
}
h1 {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: normal;
  text-decoration: none;
  list-style-type: none;
  text-indent: 30px;
  color: lightblue;
}
h1 a {
  text-decoration: none;
  color: lightblue;
  font-style: italic;

}
h2 {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: normal;
  color: #004ddc;
  border-bottom: 3px solid #004ddc;
  padding-bottom: 3px;
  font-weight: 400;
}

header {
  grid-column: span 12;
  background-color: #0052ac;
}

nav {
  grid-column: span 12;
  background-color: #004ddc;
}

main {
  grid-column: span 12;
}

footer {
  grid-column: span 12;
  margin: 0;
  padding: 0;
  background-color: rgb(219, 0, 0);
  border-top: 5px solid rgb(0, 40, 173);
}


nav ul {
  list-style-type: none;
  margin: 0;
padding: 0;

}

nav li {
  display: inline-block;
  padding: 0;
  margin: 0px;
  width: 250px;
  color: #ffffff; 
}

nav li a {
  color: rgb(110, 197, 255);
  display: block;
  border: 1px solid #0011ff;
  padding: 10px;
  background-color: #0066ff;
  height: 20px;
  text-align: start;
  text-indent: 10px;
  font-family: Helvetica, Arial, sans-serif;
  text-decoration: none;
  font-weight: bold;
  background-image: linear-gradient(to bottom, rgb(51, 163, 255), rgb(0, 60, 255));
}
nav li a:hover{
  background-image: linear-gradient(to bottom, rgb(255, 255, 255), rgb(0, 60, 255));
}
nav li .active{
  color: white;
}
.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}
h1 a:hover{
  color: white;
}
.div2{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
  text-align: justify;
  grid-column: span 4;
  background-color: lightblue;
  padding: 2em;

}
.div1{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
  text-align: justify;
  grid-column: span 8;
  padding-top: 0;
  padding-inline: 30px;
  text-align: left;
  font-weight: normal;
  margin-bottom: 10px;
}

.div1 a {
  color: red;
  text-decoration: none;
  font-weight: bold;
}
.div1 a:hover{
  color: rgb(66, 0, 0);
}
.mediaobject img {
  float: right;
  margin-left: 20px;
  margin-bottom: 5px;
  border: 5px solid rgb(0, 40, 173);

}

