body {
  background-color: lightblue;
}
header {
  grid-column: span 12;
}
main {
  grid-column: span 10;
}
nav {
  grid-column: span 2;
}

footer {
  grid-column: span 12;
  padding-top: 20px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
}

footer a {
  color: black;
}

footer a:hover {
  color: rgb(255, 255, 255);
}

nav ul {
  list-style-type: none;
  margin: 0;
padding: 0;

} 

nav li {
  display: inline-block;
  padding: 0;
  margin: 0px;
  width: 200px;
  height: 85px;
  color: #ffffff; 
}

nav li a {
  color:  white;
  display: block;
  height: 40px;
  border: 1px solid black;
  padding-top: 20px;
  background-color: #0066ff;
  text-align: center;
  font-family: "neuropol-x-light", sans-serif;
  font-weight: 525;
  font-style: normal;
  text-decoration: none;
  background-image: linear-gradient(to bottom, rgb(255, 255, 255), rgb(15, 187, 255));
  border-radius: 20px;
  box-shadow: 5px 5px 5px rgb(15, 187, 255);
}

nav a:hover {
  background-color: #00ff00;
  width: 200px;
  color: black;
}  

#wrapper {
  margin: 24px auto;
  width: 1200px;
  border: 1px solid black;
  padding: 24px;
  background-color: gray;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 24px;
}

#soundcloud {
  float: left;
  padding-right: 20px;
  padding-left: 20px;
  
}

.sc {
  font-family: Arial, Helvetica, sans-serif;

padding-top: 100px;
padding-bottom: 100px;
}

#youtube {
  float: left;
  clear: both;
  padding-right: 20px;
  padding-left: 20px;
  
}

.yt {
font-family: Arial, Helvetica, sans-serif;

padding-top: 100px;
padding-bottom: 100px;
}

.p1 {
font-family: Arial, Helvetica, sans-serif;

padding-left: 20px;
margin-top: 0px;

}

main img {
  float: left;
  padding-right: 20px;
  padding-left: 20px;
}

.homeimg {
  padding-top: 100px;
  font-family: Arial, Helvetica, sans-serif;

}

header img {
border: 1px solid black;
margin-bottom: 20px;
border-radius: 20px;
box-shadow: 5px 5px 5px rgb(15, 187, 255);
}

figure {
  position: relative; /* this allows elements inside to be absolutely positioned */
  width: 450px; /* match the image width */
  margin-left: 0px;
}

figcaption {
  width: 100%;
  position: absolute; /* this places the caption on top of the image */
  top: 0;
  left: 0;
  color: white;
  font-family: "neuropol-x-light", sans-serif;
  font-size: 2em;
  text-align: center;
  text-shadow: 1px 1px 1px black;
  opacity: 0; /* this hides the caption */
  transition: .5s opacity; /* this fades in the hover */
  padding-left: 20px;
  margin-left: 0px;
  margin-top: 100px;
}

figure:hover figcaption{
  opacity: 1; /* show the caption on hover */
}